/* src/app/components/SortOptions.module.css */
.sortOptionsContainer {
    position: relative;
    display: inline-block;
}
.selectWrapper {
    display: inline-block;
    cursor: pointer;
}

.customSelect {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #00aaff;
    border-radius: 8px;
    padding: 2px 8px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
 }

 .customSelect:hover {
    border: 1px solid #0077CC;
}

 .customSelectTrigger {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
    font-size: small;
}

.customSelectIcon {
   position: relative;
}

.arrowUp, .arrowDown {
   position: relative;
   transition: all 0.3s ease-in-out;
   transform-origin: center center;
   stroke: #00aaff;
   width: 10px;
   margin-left: 4px;
}


 .arrowDown {
    opacity: 0;
    transform: translateY(-5px);
}

.open .arrowDown {
    opacity: 1;
    transform: translateY(0);
}

.open .arrowUp {
    opacity: 0;
    transform: translateY(5px);
}

.customOptions {
    position: absolute;
    top: calc(100% + 4px); /* 下拉列表和按钮之间的间距 */
    right: 0; /* 下拉列表和按钮之间的间距 */
    width: fit-content;
    border: 1px solid #00aaff;
    border-radius: 8px;
    background-color: white;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden; /* 保证下拉列表中的内容不会溢出 */
}

.customOption {
    padding: 8px 12px;
    display: block;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
    white-space: nowrap;
}

.customOption:hover {
    background-color: #f0f0f0;
}
.selected {
    background-color: #e0f7fa;
}
